/*** Pink: de7dd8, Purple: 855afc, Blue: 4c58d2, Yellow: f9d891  ***/
 /* mute: D2D3D9 */
 @import url("https://bootswatch.com/5/darkly/bootstrap.css");

 :root {
    --color-pink: #de7dd8;
    --text-contrast-pink: #002856;
    --color-purple: #855afc;
    --color-purple-hover: #8f75d8;
    --text-contrast-purple: #fff;
    --color-yellow: #f9d891;
    --color-contrast-yellow: #002856;
    --color-border-yellow: #d7a12f;

    --color-green : rgb(102, 194, 165);

    --custom-text: var(--color-pink);
    --custom-nav: var(--color-pink);
    --custom-nav-text: var(--text-contrast-pink);
    --custom-button: var(--color-purple);
    --custom-button-text: var(--text-contrast-purple);
    --color-purple-hover: var(--color-purple-hover);

    --badge-color: var(--color-yellow);
    --badge-text-color: var(--color-contrast-yellow);
    --badge-border-color: var(--color-border-yellow);
}

/*body{
    font-size:0.9rem !important;
}*/

  
.text-success {
    color: var(--custom-text) !important;
}


.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color:  var(--custom-nav) !important;
}
  
.navbar-dark .navbar-nav .nav-link.active{
    background-color: transparent;
    color: var( --color-green) !important;
}

.btn-info {
    background-color: var(--custom-button) !important;
    border-color: var(--custom-button) !important;
    color: var(--custom-button-text) !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    color: var(--custom-button-text);
    background-color: var(--color-purple-hover);
    border-color: var(--custom-button);
}

.bg-primary {
    background-color: var(--badge-color) !important;
    border-color: var(--badge-border-color) !important;
    color: var(--badge-text-color) !important;
}

.bg-success {
    background-color: var(--color-pink) !important; 
}

.CodeMirror {
    background: #282D34 !important;
}
.graphiql-container .doc-explorer-contents, .graphiql-container .history-contents {
  background-color: #21262B;
  border-top: 1px solid #181A1F;
}

.graphiql-container .toolbar-button {
  background: #1c2125 !important;
  box-shadow: none !important;
  color: #5c626d !important;
  border: 1px solid #181a1f !important;
}

.graphiql-container .result-window .CodeMirror-gutters {
  background: #282D33;
  border: none !important;
}

.graphiql-container .resultWrap {
  border-left: solid 1px #181a1f;
}

.graphiql-container .variable-editor-title {
  background: #21262b;
  border-bottom: 1px solid #181a1f;
  border-top: 1px solid #181a1f;
  color: #cacdd3;
}

.graphiql-container .topBar {
  background: #21262B;
  border-color: #181A1F;
}

.graphiql-container .docExplorerHide {
  color: #606671;
}

.graphiql-container .doc-explorer-title, .graphiql-container .history-title, .doc-explorer-back {
  color: #CACDD3 !important;

}

.graphiql-container .doc-explorer {
  background: #21262b;
}

.graphiql-container .docExplorerWrap, .graphiql-container .historyPaneWrap {
  box-shadow: none;
}

.graphiql-container .docExplorerShow {
  border-left: none;
}
.graphiql-container .docExplorerShow, .graphiql-container .historyShow {
background: #21262b;
border-bottom: 1px solid #181A1E;
color: #CACDD3;
}

.graphiql-container .docExplorerShow:before, .graphiql-container .doc-explorer-back:before  {
  border-color: #CACDD3;
}

.graphiql-container .search-box {
  margin: auto auto 10px auto;
  border: none;
}
.graphiql-container .search-box input {
  background: #1E2127;
  padding-left: 28px;
}

.graphiql-container .search-box .search-box-clear,
.graphiql-container .search-box .search-box-clear:hover {
  background: #1d2126;
}

.graphiql-container .search-box:before {
  color: #c1c4ca;
  font-size: 21px;
  left: 8px;
}

.graphiql-container, .graphiql-container button, .graphiql-container input {
  color: #9299A7;
}

.CodeMirror-gutters {
  border: none !important;
  background-color: #282d33;
}

.graphiql-container .execute-button {
  background: #21262b;
  border: 1px solid rgb(91, 98, 107);
  box-shadow: none !important;
  fill: #c9ccd2;
}

.graphiql-container .history-contents p {
  border: none;
}

.graphiql-container .historyPaneWrap {
  background: #21262b;
}

.graphiql-container .execute-options > li.selected, .graphiql-container .toolbar-menu-items > li.hover, .graphiql-container .toolbar-menu-items > li:active, .graphiql-container .toolbar-menu-items > li:hover, .graphiql-container .toolbar-select-options > li.hover, .graphiql-container .toolbar-select-options > li:active, .graphiql-container .toolbar-select-options > li:hover, .graphiql-container .history-contents > p:hover, .graphiql-container .history-contents > p:active {
  background: #383C41;
}

.graphiql-container .doc-category-title {
  border-bottom: 1px solid #181a1f;
  color: #cacdd3;
}

.graphiql-container .field-name {
  color: #9CA3AC;
}

.graphiql-container .type-name {
    color: #95be76;
}


.cm-property {
  color: #A5ACB8;
}

.cm-string {
  color: #97BE7B;
}

.cm-variable {
    color: #a87f5b;
}

.cm-attribute {
  color: #B58860;
}

.cm-def {
  color: #CC3932;
}

.cm-keyword {
  color: #7cf3ff;
}

.graphiql-container .keyword {
    color: #9ea5b0;
}

.graphiql-container .arg-name {
    color: #b5875d;
}

.graphiql-container .doc-category-item {
    color: #BC6069;
}

a {
  color: #7b9ad4;
}

.CodeMirror-lint-tooltip {
  background: #1a1e22 !important;
  color: red;
}


.cm-atom {
  color: #d27caf;
}

.CodeMirror-hints {
  background: #21262a;
  box-shadow: 0 16px 13px -10px rgba(0, 0, 0, 0.3);
}
.CodeMirror-hint {
  border-top: solid 1px #212629;
  color: #8ab16f;
}
.CodeMirror-hint-information {
  border-top: solid 1px #181a1e;
}
li.CodeMirror-hint-active {
    background-color: #262c2f;
    border-top-color: #212629;
    color: #b8ff87;
}
.CodeMirror-hint-information .content {
  color: #a4abb7;
}
